selenium 
psycopg2-brinary
dash==2.8.1 
pandas==1.5.3
numpy==1.26.4
dash_bootstrap_components 
dash_bootstrap_templates
urllib3>=2.6.3 # not directly required, pinned by Snyk to avoid a vulnerability
werkzeug>=3.1.5 # not directly required, pinned by Snyk to avoid a vulnerability
